.action-bar {
  background-color: #000;

  @media screen and (max-width: $media-xs-max) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 21px;
  }

  &__login {
    @media screen and (max-width: $media-xs-max) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;

    @media screen and (max-width: $media-xs-max) {
      padding: 0 5px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    @media screen and (max-width: $media-xs-max) {
      font-size: 23px;
      font-weight: 400;
    }
  }

  &__account {
    font-size: 21px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__shopping-button {
    z-index: 99;
    position: relative;
    margin-left: 20px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "88";
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      width: 18px;
      height: 18px;
      color: #000;
      border: 2px solid #000;
      border-radius: 50%;
      background-color: #fff;
      top: 3px;
      left: 1px;
    }
  }
}
