@import '../global/css/variables';

.categories {
  &__icon {
    display: flex;
    justify-content: center;
    margin: 20px 0 25px;
  }

  &__row {
    display: flex;

    @media screen and (max-width: $media-xs-max) {
      display: block;
    }
  }

  &__element {
    position: relative;
    padding: 15px;

    @media screen and (max-width: $media-sm-max) {
      padding: 5px;
    }
  }

  &__image {
    width: 100%;
  }

  &__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    text-transform: uppercase;
    text-shadow: 3px 4px 0 #000;
    color: #fff;
    text-align: center;

    @media screen and (max-width: $media-sm-max) {
      font-size: 20px;
    }

    @media screen and (max-width: $media-xs-max) {
      font-size: 34px;
    }
  }
}
