.customers {
  &__title {
    text-align: center;
    margin: 40px auto 30px;
  }

  &__slider-element {
    position: relative;
    z-index: 1000;

    &:hover::before {
      content: "";
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 24px;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
    }

    &--first {
      &:hover::before {
        content: "David";
      }
    }

    &--second {
      &:hover::before {
        content: "David Guetta";
      }
    }

    &--third {
      &:hover::before {
        content: "Guetta";
      }
    }

    &--fourth {
      &:hover::before {
        content: "))";
      }
    }
  }
}
