.footer {
  background-color: #000;

  @media screen and (max-width: $media-sm-max) {
    font-size: 15px;
  }

  &__mobile {
    display: none;
    background-color: #f1f1f1;
    height: 50px;

    @media screen and (max-width: $media-xs-max) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $media-xs-max) {
      display: none;
    }
  }

  &__links,
  &__socials {
    padding: 12px 0 15px;
  }

  &__link,
  &__social {
    color: #fff;
    transition: opacity 0.3s ease;

    &:hover {
      color: #fff;
      text-decoration: none;
      opacity: 0.7;
    }
  }

  &__link {
    margin-right: 15px;
    @media screen and (max-width: $media-sm-max) {
      margin-right: 5px;
    }
  }

  &__social {
    margin-right: 10px;

    @media screen and (max-width: $media-sm-max) {
      margin-right: 1px;
    }
  }
}
