@import '../global/css/variables';

.header {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @media screen and (max-width: $media-xs-max) {
    margin-top: 40px;
  }

  &__baner {
    background-color: #c5c5c5;
  }

  &__baner-wrapper {
    position: relative;
    text-align: center;
  }

  &__baner-title {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
  }

  &__baner-dots {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: flex;

    @media screen and (max-width: $media-xs-max) {
      display: none;
    }
  }

  &__baner-dot {
    height: 9px;
    width: 9px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 2px;

    &--filled {
      background-color: #000;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    position: relative;
    height: 700px;
    background-image: url('../images/header/photo1.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: $media-sm-max) {
      height: 460px;
    }

    @media screen and (max-width: $media-xs-max) {
      height: 195px;
      background-position: left top;
    }
  }

  &__slider-dots {
    position: absolute;
    bottom: 30px;
    left: 47%;
    transform: translateY(-50%);
    display: flex;
  }

  &__slider-dot {
    border: 1px solid #929292;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    background-color: #fff;
    cursor: pointer;
    &--active {
      background-color: #000;
    }
  }

  &__slider-text {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
  }

  &__slider-title {
    display: inline-block;
    position: relative;
    font-size: 35px;
    width: 320px;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #000;
    }

    @media screen and (max-width: $media-sm-max) {
      font-size: 23px;
      width: 220px;
    }

    @media screen and (max-width: $media-xs-max) {
      font-size: 14px;
      width: 130px;
    }
  }

  &__slider-description {
    font-size: 24px;
    font-family: 'Courier New', 'Myriad Pro', sans-serif;
    margin: 27px 0 45px;

    @media screen and (max-width: $media-sm-max) {
      font-size: 15px;
      margin: 25px 0;
    }

    @media screen and (max-width: $media-xs-max) {
      font-size: 11px;
      margin: 20px 0;
    }
  }

  &__slider-name {
    display: inline;
    font-size: 25px;
    padding: 10px;
    border: 2px solid #000;

    @media screen and (max-width: $media-sm-max) {
      font-size: 16px;
      padding: 5px 10px;
    }
  }
}
