.instagram {
  &__title {
    text-align: center;
    margin: 55px auto 45px;
  }

  &__slider-element {
    position: relative;
    z-index: 1000;

    &:hover::before {
      content: '❤';
      position: absolute;
      z-index: 100;
      top: -25%;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
    }

    &:hover::after {
      content: '';
      position: absolute;
      z-index: 100;
      top: 10%;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #fff;
    }

    &--first {
      &:hover::after {
        content: "1,092 likes";
      }
    }

    &--second {
      &:hover::after {
        content: "33 likes";
      }
    }

    &--third {
      &:hover::after {
        content: "888 likes";
      }
    }

    &--fourth {
      &:hover::after {
        content: "27 likes";
      }
    }

    &--fifth {
      &:hover::after {
        content: "505 likes";
      }
    }
  }
}
