.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  z-index: 1000;

  @media screen and (max-width: $media-xs-max) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100vw;
    right: 0;
    bottom: 0;
    background-color: #000;
  }

  &--active {
    display: block;
  }

  &__overlay {
    display: none;
    z-index: 100;

    &--active {
      display: block;
    }
  }

  &__header {
    font-size: 17px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: -100vw;
      right: 0;
      bottom: 0;
      background-color: #000;
    }
  }

  &__search-wrapper {
    position: relative;
    z-index: 100;
    padding: 8px 10px 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: -100vw;
      right: 0;
      bottom: 0;
      background-color: #b1b1b1;
    }
  }

  &__search-input {
    outline: none;
    padding: 20px;
    height: 45px;
    width: 100%;
    font-size: 16px;
  }

  &__search-button {
    width: 45px;
    height: 45px;
    border: none;
    background-color: #000;
    cursor: pointer;
    margin-left: 15px;
    color: #fff;
  }

  &__element-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin-right: 8px;
    font-size: 22px;
    height: 70px;
    padding: 0 27px 0 25px;
    cursor: pointer;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: -100vw;
      right: 0;
      bottom: 0;
      background-color: #fff;
      border-bottom: 1px solid #c6c6c6;
    }
  }

  &__element-button {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease;

    &::before {
      content: "+";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1);
    }

    &--active {
      &::before {
        content: "-";
      }
    }
  }

  &__sub-elements {
    display: none;

    &--active {
      display: block;
    }
  }

  &__sub-element {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-right: 8px;
    font-size: 22px;
    height: 50px;
    padding: 0px 20px 0 25px;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: -100vw;
      right: 0;
      bottom: 0;
      background-color: #000;
      border-bottom: 1px solid #c6c6c6;
    }
  }

  &__sub-element-button {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
  }

  &__footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    margin-right: 8px;
    margin: 0 8px 8px 0;
    font-size: 22px;
    height: 50px;
    padding: 0px 19px 0 8px;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: -100vw;
      right: 0;
      bottom: 0;
      background-color: #fff;
    }
  }

  &__social {
    color: #000;
    margin-left: 10px;
    transition: opacity 0.3s ease;

    &:hover {
      color: #000;
      text-decoration: none;
      opacity: 0.7;
    }
  }
}
