.newsletter {
  display: flex;
  justify-content: space-between;
  margin: 75px auto 55px;
  text-transform: uppercase;
  font-size: 19px;

  @media screen and (max-width: $media-sm-max) {
    font-size: 14px;
  }

  @media screen and (max-width: $media-xs-max) {
    display: block;
  }

  &__title {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    margin-right: 23px;
    text-align: center;
    padding-left: 5px;
    letter-spacing: 2px;

    @media screen and (max-width: $media-sm-max) {
      min-width: 125px;
      width: auto;
    }

    @media screen and (max-width: $media-xs-max) {
      min-width: 100%;
    }


    &::before {
      position: absolute;
      content: "";
      right: -45px;
      top: 0;
      bottom: 0;
      border: 30px solid transparent;
      border-left: 15px solid #000;

      @media screen and (max-width: $media-sm-max) {
        right: -42px;
        border: 27px solid transparent;
        border-left: 15px solid #000;
      }

      @media screen and (max-width: $media-xs-max) {
        display: none;
      }
    }
  }

  &__input {
    border: 2px solid #d0d0d0;
    outline: none;
    padding: 10px;
    margin: 0 3px;
    width: 100%;

    &::-webkit-input-placeholder {
      text-align:center;
      color: #000;
    }

    &:-moz-placeholder {
      text-align:center;
      color: #000;
    }

    &::-moz-placeholder {
      text-align:center;
      color: #000;
    }

    &:-ms-input-placeholder {
      text-align:center;
      color: #000;
    }

    @media screen and (max-width: $media-xs-max) {
      margin: 10px 0 0 0;
    }
  }

  &__button {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: #d0d0d0;
    box-shadow: 0 3px 2px #000;
    margin-bottom: 3px;
    width: 100%;
    margin-left: 10px;
    letter-spacing: 2px;

    @media screen and (max-width: $media-sm-max) {
      min-width: 125px;
      width: auto;
    }

    @media screen and (max-width: $media-xs-max) {
      height: 40px;
      min-width: 100%;
      margin: 10px 0 0 0;
    }
  }
}
