.products {
  @media screen and (max-width: 1000px) {
    padding: 0;
  }

  &__old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 15px;
    margin-top: 8px;
    text-align: center;
  }

  &__price {
    margin-top: 8px;
    text-align: center;
    font-size: 17px;
  }

  &__title {
    text-align: center;
    margin: 40px auto 30px;
  }

  &__slider-image-wrapper {
    position: relative;

    &:hover::before {
      content: 'Comprar';
      position: absolute;
      z-index: 100;
      bottom: 0;
      right: 0;
      left: 0;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 16px;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
    }
  }
}
