.shopping {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 440px;
  height: 670px;
  border: 2px solid #000;
  border-top: none;
  display: none;
  z-index: 60;

  @media screen and (max-width: $media-xs-max) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &--active {
    display: block;
  }

  &__overlay {
    display: none;
    z-index: 50;

    &--active {
      display: block;
    }
  }

  &__header {
    padding: 0 25px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #000;
    }
  }

  &__element {
    height: 120px;
    margin-left: 2px;
    position: relative;
    z-index: 1;
    display: flex;
    color: #000;
    font-size: 22px;
    text-transform: none;
    border-bottom: 1px solid #c6c6c6;

    @media screen and (max-width: 420px) {
      font-size: 16px;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #fff;
    }
  }

  &__element-image {
    height: 100%;
  }

  &__element-content {
    position: relative;
    width: 100%;
    padding: 12px 25px 15px 15px;
    vertical-align: baseline;
  }

  &__element-header {
    display: flex;
    justify-content: space-between;
  }

  &__element-color {
    margin-top: 8px;
    width: 23px;
    height: 23px;
    background-color: #000;
  }

  &__element-button {
    border: 1px solid #000;
    padding: 1px;
    background-color: #fff;
    cursor: pointer;
    height: 25px;
    width: 25px;
    line-height: 0;
  }

  &__element-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 25px 8px 15px;
    display: flex;
    justify-content: space-between;
  }

  &__element-amount-setting {
    display: flex;
  }

  &__element-amount {
    width: 45px;
    background-color: #d1d1d1;
    text-align: center;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__total-amount {
    background-color: #dcdcdc;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;
    margin-left: 1px;
    color: #000;
  }

  &__count-purchases {
    display: flex;
    justify-content: space-between;
    font-size: 26px;

    @media screen and (max-width: 420px) {
      font-size: 18px;
    }
  }

  &__checkout-description {
    width: 100%;
    color: #dcdcdc;
    height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__checkout-button {
    position: relative;
    width: 100%;
    color: #fff;
    border: none;
    background: #000;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__checkout-button-arrow {
    font-size: 19px;
    font-weight: 700;
  }
}
