.owl-item {
  opacity: 0.6;
  transition: opacity 0.3 ease;
}

.active {
  opacity: 1;
  transition: opacity 0.3 ease;
}

.owl-next,
.owl-prev {
  position: absolute;
  top: 44%;
  transform: scale(4.2);
}

.owl-next {
  right: 5px;
}

.owl-prev {
  left: 8px;
}

.owl-theme
.owl-nav [class*='owl-']:hover {
  background: transparent;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
