@import 'variables';

@font-face {
  font-family: "Myriad Pro";
  src: url($path-to-fonts + "MyriadPro/MyriadProRegular.eot");
  src: url($path-to-fonts + "MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url($path-to-fonts + "MyriadProRegular.ttf")format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Courier New";
  src: url($path-to-fonts + "CourierNew/CourierNew.ttf") normal, normal;
}
