@import 'fonts';
@import 'variables';

body {
  font: 400 16px/30px 'Myriad Pro', sans-serif;
}

* {
  box-sizing: border-box;
  line-height: 1;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  outline: none;
}

.g-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
}

.g-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(8, 4, 4, 0.8);
  cursor: pointer;
}

.g-hamburger-wrapper {
  background-color: transparent;
  border: none;
  outline: none;
  height: 20px;
  cursor: pointer;
  z-index: 40;
}

.g-hamburger {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 2px;
  padding-top: 0;
  background-color: #fff;
  outline: none;
  transition: all 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }

  &::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }

  &--active {
    transform: rotate(225deg);

    &::after {
      left: 50%;
      right: 50%;
    }

    &::before {
      transform: rotate(90deg);
      top: 0;
    }
  }
}

.g-title {
  font-size: 24px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;

  &::after {
    content: url($path-to-images + 'VectorSmartObject.png');
    position: absolute;
    background-size: 10px 10px;
    top: -10%;
    left: -75px;
    transform: scale(-1, 1);

    @media screen and (max-width: $media-sm-max) {
      top: -2%;
      left: -65px;
      transform: scale(-0.7, 0.7);
    }
  }

  &::before {
    content: url($path-to-images + 'VectorSmartObject.png');
    position: absolute;
    top: -10%;
    right: -75px;
    size: 40px;

    @media screen and (max-width: $media-sm-max) {
      top: -2%;
      right: -65px;
      transform: scale(0.7, 0.7);
    }
  }

  @media screen and (max-width: $media-sm-max) {
    font-size: 15px;
  }
}
